@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin: 0, auto;
  width: 100%;
  background-color: rgb(124, 189, 209);
  padding: auto;
  margin-top: 20px;
  text-align: center;

} */
